src/main/resources/edu/arizona/biosemantics/semanticmarkup/markupelement/description/io/schemas/semanticMarkupOutput.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.github.com/biosemantics"
	targetNamespace="http://www.github.com/biosemantics">

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="treatment" type="treatment"/>

	<xs:complexType name="treatment">
		<xs:sequence>
			<xs:element type="meta" name="meta"/>
			<xs:element type="taxon_identification" name="taxon_identification"
				maxOccurs="unbounded"/>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element type="nonEmptyString" name="number" minOccurs="0" maxOccurs="1"/>
				<xs:element type="description" name="description" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element type="type" name="type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="other_name" name="other_name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="material" name="material" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="discussion" name="discussion" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="taxon_relation_articulation" name="taxon_relation_articulation"
					minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="key" name="key" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="references" name="references" minOccurs="0" maxOccurs="unbounded"
				/>
				<!--<xs:element name="previous_or_new_taxonomic_names" type="nonEmptyString" minOccurs="0"/>-->
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="meta">
		<xs:sequence>
			<xs:element type="source" name="source">
				<xs:annotation>
					<xs:documentation>put the bibliographic information of the source paper
						here</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processed_by" type="processed_by" minOccurs="0">
				<xs:annotation>
					<xs:documentation>e.g. name of the person who converted the original to this
						format</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="other_info_on_meta"
				name="other_info_on_meta"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="source" mixed="true">
		<xs:sequence>
			<xs:element name="author" type="nonEmptyString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="date" type="nonEmptyString" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="nonEmptyString" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pages" type="nonEmptyString" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="other_info_on_meta">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="processed_by">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processor" type="processor"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="processor">
		<xs:sequence>
			<xs:element name="date" type="nonEmptyString"/>
			<xs:choice minOccurs="1" maxOccurs="2">
				<xs:element type="software" name="software" minOccurs="0"/>
				<xs:element name="operator" type="nonEmptyString" minOccurs="0"/>
			</xs:choice>
			<xs:element type="resource" name="resource" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="software">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="nonEmptyString"/>
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="resource">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="nonEmptyString"/>
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="taxon_identification">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" name="taxon_name" type="taxon_name"/>
				<xs:element maxOccurs="unbounded" name="strain_number" type="strain_number"/>
			</xs:choice>
			<xs:element type="place_of_publication" name="place_of_publication" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element type="nonEmptyString" name="taxon_hierarchy" minOccurs="0"/>
			<xs:element type="other_info_on_name" name="other_info_on_name" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="status" type="xs:NCName" use="required"/>
	</xs:complexType>

	<xs:complexType name="taxon_name">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="rank" type="rank_type" use="required"/>
				<xs:attribute name="authority" use="required"/>
				<xs:attribute name="date" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="strain_number">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="equivalent_strain_numbers" type="nonEmptyString"/>
				<xs:attribute name="accession_number_16s_rrna" type="nonEmptyString"/>
				<xs:attribute name="accession_number_for_genome_sequence" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="rank_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="domain" />
			<xs:enumeration value="kingdom" />
			<xs:enumeration value="subkingdom" />
			<xs:enumeration value="superphylum" />
			<xs:enumeration value="phylum" />
			<xs:enumeration value="subphylum" />
			<xs:enumeration value="superclass" />
			<xs:enumeration value="class" />
			<xs:enumeration value="subclass" />
			<xs:enumeration value="supercohort" />
			<xs:enumeration value="cohort" />
			<xs:enumeration value="subcohort" />
			<xs:enumeration value="superorder" />
			<xs:enumeration value="order" />
			<xs:enumeration value="suborder" />
			<xs:enumeration value="infraorder" />
			<xs:enumeration value="superfamily" />
			<xs:enumeration value="family" />
			<xs:enumeration value="subfamily" />
			<xs:enumeration value="tribe" />
			<xs:enumeration value="subtribe" />
			<xs:enumeration value="genus" />
			<xs:enumeration value="subgenus" />
			<xs:enumeration value="section" />
			<xs:enumeration value="subsection" />
			<xs:enumeration value="series" />
			<xs:enumeration value="subseries" />
			<xs:enumeration value="species_aggregate" />
			<xs:enumeration value="species" />
			<xs:enumeration value="subspecific_aggregate" />
			<xs:enumeration value="subspecies" />
			<xs:enumeration value="variety" />
			<xs:enumeration value="subvariety" />
			<xs:enumeration value="form" />
			<xs:enumeration value="subform" />
			<xs:enumeration value="cultivar_group" />
			<xs:enumeration value="cultivar" />
			<!--<xs:enumeration value="strain" />-->
			<xs:enumeration value="unranked" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="place_of_publication">
		<xs:sequence>
			<xs:element minOccurs="0" name="publication_title" type="nonEmptyString"/>
			<xs:element minOccurs="0" name="place_in_publication" type="nonEmptyString"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="other_info_on_pub"
				name="other_info_on_pub"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="other_info_on_name">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="other_info_on_name_type"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="other_info_on_pub">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="description" mixed="true">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="statement" name="statement"/>
		</xs:sequence>
		<xs:attribute name="type" type="description_type" use="required"/>
		<xs:attribute name="scope"/>

	</xs:complexType>

	<xs:simpleType name="description_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="morphology"/>
			<xs:enumeration value="phenology"/>
			<xs:enumeration value="habitat"/>
			<xs:enumeration value="elevation"/>
			<xs:enumeration value="ecology"/>
			<xs:enumeration value="distribution"/>
			<xs:enumeration value="morphology_from_key"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="biological_entity_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="structure"/>
			<xs:enumeration value="substance"/>
			<xs:enumeration value="taxon_name"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="statement">
		<xs:sequence>
			<xs:element name="text" type="xs:string"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element type="relation" name="relation"/>
				<xs:element type="biological_entity" name="biological_entity"/>
				<xs:element type="nonEmptyString" name="value"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="provenance" type="xs:string"/>
		<xs:attribute name="notes" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="relation">
		<xs:attribute name="alter_name"/>
		<xs:attribute name="from" use="required" type="xs:NCName"/>
		<xs:attribute name="geographical_constraint"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="in_brackets" type="xs:boolean"/>
		<xs:attribute name="modifier"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="negation" use="required" type="xs:boolean"/>
		<xs:attribute name="organ_constraint">
			<xs:annotation>
				<xs:documentation> Sometimes the description would say 
					"basal tubercles not markedly longer than distal ones (except in sterile fruits)". 
					We will put 'except in sterile fruits' in organ_constraint for the length character.  
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>


		<xs:attribute name="parallelism_constraint" type="xs:NCName">
			<xs:annotation>
				<xs:documentation>parallelism_constraint is used to indicate if the description about 
					a structure (or an entity) does not follow the parallelism principle.
					In Flora of North America, for example, if an author describe a set of 
					characters for a genus,  the authors are required to describe the same set of 
					characters for other genera in the same family. However, the authors sometimes
					can not follow this principle, and to indicate they deviated from the rule, 
					they use () to enclose the characters they described for a genus but not for other genera.
					We used parallelism_constraint = "true|false|possible" to indicate if the description 
					of a structure deviated from the parallelism rule. This attribute also applies to characters and
					relations based on the same idea. 
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="taxon_constraint">
			<xs:annotation>
				<xs:documentation> The taxon_constraint is used to indicate an entity/character/relation 
					is applicable only to a specific taxon. 
					For example "basal tubercles rounded (except in m. parvifolia and m. bostockii)". 
					The character is not applicable to all taxa in the genus, so we'd use 
					taxon_constraint = "except in m. parvifolia and m. bostockii" for the shape 
					character of basal tubercles.
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="to" use="required" type="xs:NCName"/>
		<xs:attribute name="ontologyid" type="xs:string"/>
		<xs:attribute name="provenance" type="xs:string"/>
		<xs:attribute name="notes" type="xs:string"/>
		<xs:attribute name="src" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="biological_entity">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="character" name="character"/>
		</xs:sequence>
		<xs:attribute name="alter_name"/>
		<xs:attribute name="constraint"/>
		<xs:attribute name="constraintid" type="xs:NCName"/>
		<xs:attribute name="geographical_constraint"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="in_brackets" type="xs:boolean"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="parallelism_constraint" type="xs:NCName"/>
		<xs:attribute name="taxon_constraint"/>
		<xs:attribute name="ontologyid" type="xs:string"/>
		<xs:attribute name="provenance" type="xs:string"/>
		<xs:attribute name="notes" type="xs:string"/>
		<xs:attribute name="name_original" type="xs:string"/>
		<xs:attribute name="type" type="biological_entity_type" use="required"/>
		<xs:attribute name="inferred_constraint">
			<xs:annotation><xs:documentation>the inferred_constraint is used to hold the structure that is inferred by the software, for example, to disambiguiate a non-specific structure, for example apex may have an inferred_constraint leaf to refer to leaf apex.  </xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="src" type="xs:string"/>
		<xs:attribute name="constraint_original" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="character">
		<xs:attribute name="negation" use="optional" type="xs:boolean"/>
		<xs:attribute name="char_type" type="xs:NCName"/>
		<xs:attribute name="constraint"/>
		<xs:attribute name="constraintid"/>
		<xs:attribute name="from"/>
		<xs:attribute name="from_inclusive" type="xs:boolean"/>
		<xs:attribute name="from_unit" type="xs:NCName"/>
		<xs:attribute name="from_modifier"/>
		<xs:attribute name="geographical_constraint"/>
		<xs:attribute name="in_brackets" type="xs:boolean"/>
		<xs:attribute name="modifier"/>
		<xs:attribute name="name"/>
		<xs:attribute name="organ_constraint"/>
		<xs:attribute name="other_constraint"/>
		<xs:attribute name="parallelism_constraint" type="xs:NCName"/>
		<xs:attribute name="taxon_constraint"/>
		<xs:attribute name="to"/>
		<xs:attribute name="to_inclusive" type="xs:boolean"/>
		<xs:attribute name="to_unit" type="xs:NCName"/>
		<xs:attribute name="to_modifier"/>
		<xs:attribute name="type"/>
		<xs:attribute name="unit"/>
		<xs:attribute name="upper_restricted" type="xs:boolean"/>
		<xs:attribute name="value"/>
		<xs:attribute name="ontologyid" type="xs:string"/>
		<xs:attribute name="provenance" type="xs:string"/>
		<xs:attribute name="notes" type="xs:string"/>
		<xs:attribute name="is_modifier" type="xs:boolean"/>
		<xs:attribute name="establishment_means" type="establishment_means_type"/>
		<xs:attribute name="src" type="xs:string"/>
		<xs:attribute name="value_original" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="type">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="synonym" type="nonEmptyString"/>

	<xs:complexType name="other_name">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="material">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="discussion">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="taxon_relation_articulation">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:attribute name="type" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="key">
		<xs:sequence>
			<xs:element type="meta" name="meta" minOccurs="0"/>
			<xs:element name="key_heading" type="nonEmptyString" minOccurs="0"/>
			<xs:element name="key_author" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="discussion" type="nonEmptyString"/>
				<xs:element name="key_head" type="nonEmptyString"/>
				<xs:element type="key_statement" name="key_statement"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="key_statement">
		<xs:sequence>
			<xs:element name="statement_id" type="nonEmptyString"/>
			<xs:element name="description" type="description"/>
			<xs:choice minOccurs="0">
				<xs:element name="next_statement_id" type="nonEmptyString"/>
				<xs:element name="determination" type="determination"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="determination">
		<xs:simpleContent>
			<xs:extension base="nonEmptyString">
				<xs:annotation>
					<xs:documentation>Specifies only file name within this files path
					</xs:documentation>
				</xs:annotation>
				<xs:attribute name="file_name" type="nonEmptyString"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="references">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="reference_discussion"
				type="nonEmptyString"/>
			<xs:element maxOccurs="unbounded" name="reference" type="nonEmptyString"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="establishment_means_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="introduced"/>
			<xs:enumeration value="native"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="other_info_on_name_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="etymology"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>


</xs:schema>